extends base/base.pug
block content
	a(href=`/`)
		button.btn.btn-outline-light Back to the Replay List
	.wrapper.replay-wrapper
		.battle
		.battle-log
		.replay-controls
		.replay-controls-2
		h1
			| #{replay.format}
			br
			a(href=`https://pokemonshowdown.com/users/${replay.players[0]}`, target="_blank").subtle #{replay.players[0]}
			| vs
			a(href=`http://pokemonshowdown.com/users/${replay.players[1]}`, target="_blank").subtle #{replay.players[1]}
		script(type="text/plain").battle-log-data
			| #{replay.log.replace(/\//g, "\\/")}
	script(defer, src=`https://play.yugiohduel.net/js/replay-embed.js`)
	script(defer, nomodule, src=`https://play.yugiohduel.net/js/lib/ps-polyfill.js`)
	script(defer, src=`https://play.yugiohduel.net/js/lib/preact.min.js`)
	script(defer, src=`https://play.yugiohduel.net/config/config.js`)
	script(defer, src=`https://play.yugiohduel.net/js/lib/jquery-1.11.0.min.js`)
	script(defer, src=`https://play.yugiohduel.net/js/lib/html-sanitizer-minified.js`)
	script(defer, src=`https://play.yugiohduel.net/js/battle-sound.js`)
	script(defer, src=`https://play.yugiohduel.net/js/battledata.js`)
	script(defer, src=`https://play.yugiohduel.net/js/pokedex-mini.js`)
	script(defer, src=`https://play.yugiohduel.net/js/pokedex-mini-bw.js`)
	script(defer, src=`https://play.yugiohduel.net/graphics.js`)
	script(defer, src=`https://play.yugiohduel.net/pokedex.js`)
	script(defer, src=`https://play.yugiohduel.net/moves.js`)
	script(defer, src=`https://play.yugiohduel.net/abilities.js`)
	script(defer, src=`https://play.yugiohduel.net/items.js`)
	script(defer, src=`https://play.yugiohduel.net/teambuilder-tables.js`)
	script(defer, src=`https://play.yugiohduel.net/battle-tooltips.js`)
	script(defer, src=`https://play.yugiohduel.net/battle.js`)
	script(defer, src=`https://play.pokemonshowdown.com/js/replay-embed.js?version${Math.floor(Date.now()/1000/60/60/24)}`)
	
	div
